html,body{
    height:100%;
}

section.courses {
    float:le;
    width: 58%;
    border-right: 1px solid #eeeeee;}

body{
    background:white;
    background-size: cover;
    background-repeat: no-repeat;
    }

.border{
    border: 10px solid #061D2E;
}

.border3{
    border: 5px solid #00007f;
}
.border4{
    border: 5px solid #551A8B;
}
.border5{
    border: 5px solid #CDB7B5;
}
.border6{
    border: 5px solid #000033;
}
.contact3{
    color:#00004c;
}
.contact4{
    color:#220a37;
}
.contact{
    color:#061D2E;
}

.contact5{
    color:darkslategray;
}


.heading52V{

    font-family: Georgia, serif;
}


.row12V{
    padding-top:5px;
    padding-left:20px;
    width:500px;
}
.row22V{
    padding-top:5px;
    padding-left:20px;
}
.heading12V{
    font-size:30px;
    font-style: oblique;
    padding-top:20px;
    padding-left:20px;
    font-family: Georgia, serif

}
.hello12V{
    padding-top:0px;

    font-family:"Arial Black", Gadget, sans-serif;
}

.hello2V{
    padding-top:0px;

}

.para1{

    border: 5px solid #cccccc;
    padding: 20px;
    margin-left:20px;
    width: 575px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.heading3{
    padding-top: 5%;
    font-size: 300%;
}

.hr2V{
    background:#565656;
    height:5px;

}
.para2V{
    padding-left:20px;
    padding-right:10px;
    font-size:16px;
}
.C12V{
    font-size:15px;
    font-weight:bold;
}

p2V{
    padding-top:0px;
    padding-left:0px;
    font-size:20px;
    font-family: "Times New Roman", Times, serif
}
.tick2V{

    font-size:12px;
}
h2,h32V{
    padding-top:5px;
    padding-left:20px;
}
h2{
    color:white;
}
.c3{
    color:whitesmoke;
    font-size: 350%;

    font-family: "Times New Roman", Georgia, Serif;
    padding-top:5%;
    padding-bottom:5%;
}

.para{
    font-family: "Times New Roman", Georgia, Serif;
}
.head32V{
    padding-left:70px;
}
.talha22V{
    background-color:blue;
}
.em2V{
    color:white;
    font-size:12px;
}
.head42V{
    padding-left:0px;
}
.head22V{

    font-size:15px;
    font: italic bold 15px/30px Georgia, serif;
    color:black;
}

.head212V{
    font-size:15px;
    font: italic bold 15px/30px Georgia, serif;
    color:black;

}


footer2V{
    font-size: 80%;
    color:white;
    padding: 7px 0px 0px 20px;
    background:#565656;
    display: block;}

header2V{


    padding:70px;
}
.wrapper
{
    width: 90%;
}

.c1{
padding-top: 05%;
    color:black;
}
.c2{
    color: black;
    font-weight: 300;
}

.c12{
    color: black;
    font-weight: 600;
}

.wrapper12V
{
    width: 750px;
    margin: 60px auto 60px auto;
    padding:0px;
    box-shadow: 10px 10px 5px #888888;}

.c12V{
    background:white;
    padding-bottom:0px;
}
.c23V{
    background:blue;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;
}
.c22V{
    background:#001400;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;

}
.c24V{
    background:purple;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;

}
.c25V{
    background:black;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;

}
.c26V{
    background:darkred;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;

}
.c27V{
    background:saddlebrown;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;
}

.contact6{
    color:#000033;
}

.button3 {
    background-color: Transparent;
    border: none;
    padding: 1%;
    margin: 10%;
    font-size: 250%;
    outline:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.asideB{
    background:#00000c;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideP{
    background:#00000c;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideY{
    background:#00000c;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideBlue1{
    background-color: #061D2E;
    padding-top: 5%;
    padding-bottom: 5%;
}

   .asidePurple1{
       background-color:#551A8B;
       padding-top: 5%;
       padding-bottom: 5%;
   }

.asideYellow1{
    background-color:#FF8C00;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideGray3{
    background-color:#CDB7B5;
    padding-top: 5%;
    padding-bottom: 5%;
}

.asideGray2{
    background-color:gray;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideGreen1{
    background-color:#006400;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideMaroon1{
    background-color:#800000;
    padding-top: 5%;
    padding-bottom: 5%;
}
.asideBrown1{
    background-color:#654321;
    padding-top: 5%;
    padding-bottom: 5%;

}
.asideOrange1{
    background-color:#ff5700;
    padding-top: 5%;
    padding-bottom: 5%;

}
.asidePink1{
    background-color:#FF1493;
    padding-top: 5%;
    padding-bottom: 5%;

}


.llightBlue{
    background-color: #6495ed;

    padding-top: 5%;
    padding-bottom: 5%;
}
.lPurple{
    background-color: #551A8B;

    padding-top: 5%;
    padding-bottom: 5%;
}

.lPink{
    background-color: #7F345A;

    padding-top: 5%;
    padding-bottom: 5%;
}
.lGreen{
    background-color: #003300;

    padding-top: 5%;
    padding-bottom: 5%;
}


.lBlue{
    background-color: #3F6077;

    padding-top: 5%;
    padding-bottom: 5%;
}


.lMaroon{
    background-color: #800000;

    padding-top: 5%;
    padding-bottom: 5%;
}

.green1{
    background-color: #001400;

    padding-top: 5%;
    padding-bottom: 5%;
}
.blue1{
    background-color: blue;
    padding-top: 5%;
    padding-bottom: 5%;
}

.purple1{
    background-color: purple;
    padding-top: 5%;
    padding-bottom: 5%;
}

.darkred1{
    background-color: darkred;
    padding-top: 5%;
    padding-bottom: 5%;
}


.black1{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

.saddlebrown1{
    background-color: saddlebrown;
    padding-top: 5%;
    padding-bottom: 5%;
}



.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.50); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}

.error{
    color:red;
}
.grayscale {
    -webkit-filter: brightness(2.10) grayscale(100%) contrast(90%);
    -moz-filter: brightness(2.10) grayscale(100%) contrast(90%);
    filter: brightness(1.10) grayscale(100%);
}
.modal-title{
    color: black;;
}

.cblack{
    color:#800000;
    font-size: 400%;
}
.chome{
    color:white;
    font-size: 400%;
}
.home{
    background-image:url("/images/gray.jpg");
    background-repeat:round;
    padding-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 13%;

}

.fade{

    background-image:url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.hamza1{
    background-image:url("/images/background21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width:1400px;
}

.mdd{
    background-image:url("/images/sunset.jpg");
    background-repeat: repeat-x, repeat-y;
    background-size:1000%;
    width:100%;
}
.product{

      padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;

}

.article3{
    color: yellow;
}

.hamza3row{
    background: none;
    background-repeat: repeat-x, repeat-y;
    height: 100%;
    width:100%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 4%;
}

.hamza2row{
    background: none;
    background-repeat: repeat-x, repeat-y;
    height: 100%;
    width:100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 4%;
}

.hamza1row{
    background: rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x, repeat-y;
    height: 50%;
    width:50%;
    margin-top:5%;
    margin-bottom:15%;
    margin-left:25%;
    margin-right:35%;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}
.head1{
    font-size: 450%;
    margin-top: 8%;
    color: white;
    margin-left: 15%;
    margin-right: 15%;

}

.hamza2heading{


}
.background4{
    background-color : #2F4F4F;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary {
    background:	#FF7F50 ;
    color: white;
}

.hamza{
    background-color: white;
    background-repeat: repeat-x, repeat-y;;
    background-size:1000%;
    padding-top: 2%;
    width:100%;
}
.text-center2{
    color:Black;
}

.text-center3{
    color:White;
}
strong{
    text-align: center;
}
.col-md-3{
    font-size: 14px;
}


.asideOrange{
    background-color: #ff5700;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloOrange{
    background-color: #ff5700;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}
.asideBrown{
    background-color: #654321;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloBrown{
    background-color: #654321;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}
.asideMaroon{
    background-color: #800000;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloMaroon{
    background-color: #800000;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}

.asideGreen{
    background-color: #006400;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloGreen{
    background-color: #006400;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}

.asidePink{
    background-color: #FF1493;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}


.helloPink{
    background-color: #FF1493;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}
.asideBlack{
    background-color: black;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloBlack{
    background-color: black;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}
.asideyellow{
    background-color: yellow;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloyellow{
    background-color: yellow;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}

.aside1{
    background-color: blue;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}
.asideBlue{
    background-color: #061D2E;
    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}

.helloBlue{
    background-color: #061D2E;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}
.footer1{
    background-color: blue;
}
.hello1{
    background-color: blue;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}


.asidePurple{
    background-color: #551A8B;

    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}
.footerPurple{
    background-color: #551A8B;
}
.helloPurple{
    background-color: #551A8B;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}

.asideGray{
    background-color: #CDB7B5;

    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}
.footerGray{
    background-color: #CDB7B5;
}
.helloGray{
    background-color: #CDB7B5;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}

.asideYellow{
    background-color: #FF8C00;

    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}
.footerYellow{
    background-color: #FF8C00;
}
.helloYellow{
    background-color: #FF8C00;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}

.dp1{
    width: 100px;
    height: 100px;
}
.asideGray1{
    background-color: gray;

    float: left;
    margin-left:-20px;
    padding: 0px 0px 0px 20px;
    width: 230px;

}
.footerGray1{
    background-color: gray;
}
.helloGray1{
    background-color: gray;
    text-align:center;
    height: 180px;
    margin-bottom: 60px;
    margin-top:30px;

}


.btn-info{
    font-size: 100%;

}




.center{
    width:800px;
    margin:0 auto;
}
.HamzaPicture{
 padding-left:15%;
    padding-right:15%;
    padding-top:15%;
    margin-left: 25%;
    padding-bottom: 10%;

}

.img-fluid{
    text-align: center;
}

.imgPreview{
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 500px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}
.previewText {

    width: 100%;
    margin-top: 20px;
}
    .submitButton{
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
}
.hamza23{
    margin-top: 3%;
    margin-left:2%;
    margin-right:2%;
    padding-right:12%;
    padding-left:12%;

    border-style: solid;
    border-radius: 15px;
    border-color: #D3D3D3;

    background-image:url("/images/gray.jpg");
    background-repeat: round;

}
blockquote {
    float: inherit;
    font-size: 230%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    border-bottom: 15px solid #665544;}
.hamza22{
    margin-top: 3%;
    margin-left:2%;
    margin-right:2%;
    padding-right:12%;
    padding-left:12%;

    border-style: solid;
    border-radius: 15px;
    border-color: #004080;

    background:#00000c;
}
.hamza32{
    margin-top: 3%;
    margin-left:2%;
    margin-right:2%;
    padding-right:12%;
    padding-left:12%;

    border-style: solid;
    border-radius: 15px;
    border-color: #7F7F00;
    background-repeat: round;
    background-image:url("/images/pink.jpg");
}
.h1{
    color: #3f0000;
    font-family: "Times New Roman", Georgia;
    font-style: oblique;

}
.h2{
    color:#7F345A
}

.hamza21{
    margin-top: 3%;
    margin-left:2%;
    margin-right:2%;
    padding-right:12%;
    padding-left:12%;

    border-style: solid;
    border-radius: 15px;
    border-color: white;

    background-image:url("/images/gray.jpg");
}
.label{
    color:white;
}
.check1{
    background-color: lightgray;
    opacity: 0.8;
}
.modal-body{
    background-color: black;
}
.modalC1{
    background-color: white;
}
.row{
    padding: 1%;
}

.c22V{

}
.div1{
    visibility: hidden;
}
.hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-out 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
