
.heading52V{

    font-family: Georgia, serif;
}


.row12V{
    padding-top:5px;
    padding-left:20px;
    width:500px;
}
.row22V{
    padding-top:5px;
    padding-left:20px;
}
.heading12V{
    font-size:30px;
    font-style: oblique;
    padding-top:20px;
    padding-left:20px;
    font-family: Georgia, serif

}
.hello12V{
    padding-top:0px;

    font-family:"Arial Black", Gadget, sans-serif;
}

.hello2V{
    padding-top:0px;

}
.hr2V{
    background:#565656;
    height:5px;

}
.para2V{
    padding-left:20px;
    padding-right:10px;
    font-size:16px;
}
.C12V{
    font-size:15px;
    font-weight:bold;
}

p2V{
    padding-top:0px;
    padding-left:0px;
    font-size:20px;
    font-family: "Times New Roman", Times, serif
}
.tick2V{

    font-size:12px;
}
h2,h32V{
    padding-top:5px;
    padding-left:20px;
}
.head32V{
    padding-left:70px;
}
.talha22V{
    background-color:blue;
}
.em2V{
    color:white;
    font-size:12px;
}
.head42V{
    padding-left:0px;
}
.head22V{

    font-size:15px;
    font: italic bold 15px/30px Georgia, serif
}

.head212V{
    font-size:15px;
    font: italic bold 15px/30px Georgia, serif
}

footer2V{
    font-size: 80%;
    color:white;
    padding: 7px 0px 0px 20px;
    background:#565656;
    display: block;}

header2V{
    background-image:url("image1.jpg");

    padding:70px;
}
.wrapper12V{
    width: 750px;
    margin: 60px auto 60px auto;
    padding:0px;
    box-shadow: 10px 10px 5px #888888;}

#c12V{
    background:#d7cec7;
    padding-bottom:0px;
}

#c22V{
    background:#565656;
    float:right;
    padding-right:20px;
    padding-top:20px;
    margin-left:20px;
    padding-left:20px;
}​