
header, section, footer, aside, nav, article, figure, figcaption,nav2,footer2 {
    display: block;}
body {
    color: black;
    background-color: gray;
    font-family: Georgia, times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}
header {
    height: 160px;
    position: relative;
    background-image: url(image2.png);}
h1 {
    text-align:center;
    width: 940px;
    height: 130px;
    margin: 0px;}
nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #154360;
    height: 30px;}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav li {
    display: inline;
    margin-right: 40px;}
nav li a {
    color: #ffffff;}
nav li a:hover, nav li a.current {
    color: #000000;}
.img-circle {
    border-radius: 50%;
    height:180px;
    margin-top:40px;
    margin-left:0px;
    width:180px;
}

section.courses {
    float:right;
    margin-right:5px;
    width: 650px;
    border-right: 1px solid yellow;}
.hello{
    background-color:#154360  ;
    text-align:center;
    margin-top:60px;
}
.heading1{
    padding-top:10px;
    font-size:60px;
    height:50px;
    color:white;
    font-family: Georgia, Times, serif;
}
.column1of3, .column2of3, .column3of3 {
    width: 300px;
    float: left;
    margin: 10px;}
.para1{
    border: 5px solid gray;
    padding: 20px;
    margin-left:20px;
    width: 575px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

hr{
    width:250px;
    margin-bottom:50px;
    padding-top:05px;
}
.hr1{
    width:200px;
    margin-bottom:50px;
    padding-top:05px;
}
.center1{
    text-align:center;
}
.heading2{
    color:white;
    padding-bottom:15px;
}
.button1 {
    background-color: white;
    color: black;
    width:140px;
    height:40px;
    border: 2px solid black;
    align:center;/* Green */
}

article {
    clear: both;
    width: 10%;}
hgroup {
    margin-top:40px;}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #154360;}
figcaption {
    font-size: 90%;
    text-align: left;}
aside {
    width: 230px;

    background-color:#154360  ;
    float: left;
    margin-left:30px;
    padding: 0px 0px 0px 20px;}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #1A5276;}
aside section a:hover {
    color: #985d6a;
    background-color: #1A5276;}
a {
    color: white;
    text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
h3 {
    margin: 0px 0px 10px 0px;
    background-color: white ;
    color: white;}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: white;}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}

.wrapper2 {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #528a52;
    background-color: #ffffff;}
header2 {
    height: 160px;
    position: relative;
    background-image: url(image2.png);}
h1 {
    text-align:center;
    width: 940px;
    height: 130px;
    margin: 0px;}
nav2, footer2 {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}
nav2 ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}
nav2 li {
    display: inline;
    margin-right: 40px;}
nav2 li a {
    color: #ffffff;}
nav2 li a2:hover, nav2 li a2.current2 {
    color: #000000;}
.img-circle2 {
    border-radius: 50%;
    height:180px;
    margin-top:60px;
    margin-left:15px;
    width:180px;
}

section2.courses2 {
    float:right;
    margin-right:5px;
    width: 650px;
    border-right: 1px solid #eeeeee;}
.hello2{
    background-color:#8fcf90;
    text-align:center;
    margin-top:60px;
}
.heading12{
    padding-top:10px;
    font-size:60px;
    height:50px;
    color:rgba(14, 6, 82, 0.69);
    font-family: Georgia, Times, serif;
}
.column1of3, .column2of3, .column3of3 {
    width: 300px;
    float: left;
    margin: 10px;}
.para12{
    border: 5px solid #8fcf90;
    padding: 20px;
    margin-left:20px;
    width: 575px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
hr2{
    width:250px;
    margin-bottom:50px;
    padding-top:05px;
}
.hr12{
    width:200px;
    margin-bottom:50px;
    padding-top:05px;
}
.center12{
    text-align:center;
}
.heading22{
    color:#8e2c2c;
    padding-bottom:15px;
}
.button12 {
    background-color: white;
    color: black;
    width:140px;
    height:40px;
    border: 2px solid black;
    align:center;/* Green */
}

article2 {
    clear: both;
    width: 10%;}
hgroup2 {
    margin-top:40px;}
figure2 {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;}
figcaption2 {
    font-size: 90%;
    text-align: left;}
aside2 {
    width: 230px;

    background-color:#528a52;
    float: left;
    margin-left:30px;
    padding: 0px 0px 0px 20px;}
aside2 section2 a2 {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;}



aside2 section2 a2:hover {
    color: #985d6a;
    background-color: #efefef;}
a2 {
    color: rgb(245, 220, 172);
    text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;}
h3 {
    margin: 0px 0px 10px 0px;
    color: #1A5276;}
aside2 h2 {
    padding: 30px 0px 10px 0px;
    color: rgb(220, 211, 211);
}
footer2 {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}