.whiteFOntCV3{
    color:white;
}
.containCV3{
    width: 70%;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
    padding:0;
}

.col1CV3{
    margin-right:30%;
}
.paraCV3{

}
.wrapCV3{
    padding:5%;
}
.image1CV3{
    float:right;
    height:150px;
    margin-top:10%;
    border: 5px solid rgba(255, 255, 255,0.3);
    width:150px;
}
h1{
    padding:0;
    margin:0;
}
.p1CV3{
    font-size:200%;
    opacity:0.7;
    padding-bottom: 5%;
}

.p11{
    padding-top: 15%;
    font-size:400%;
    padding-bottom: 10px;
}

.wrapperCV3{
    background-color:#6495ed;
}
.wrapperCV1{
    background-color:#800000;
}

.wrapperCV2{
    background-color:#551A8B;
}

.wrapperCV4{
    background-color:#7F345A;
}
.wrapperCV5{
    background-color:#3F6077;
}
.wrapperCV6{
    background-color:#003300;
}
.inlineCV3{
    display:inline;
}
.wrapper2CV3{
    background-color:white;
    padding-left:0;
    margin-left:0;
    margin-right:0;
}
.headingCV3{
    font-family: Times New Roman;
}
.blueCV3{
    color:#6495ed;
}
.leftCV3{
    float:left;
    margin-left:0;
}
.rightCV3{
    float:right;

}
.wrap2CV3{
    display:inline;
    margin-left: 100px;

}
footer {
    font-size: 80%;
    background-color:#6495ed;
    padding: 7px 0 0 20px;}

.row3CV3{
    padding-left:15%;
    padding-right:15%;
}

.row1CV3{
    padding-left:10%;
    padding-right:10%;
}
.MainrowCV3{
    padding-left:15%;
    padding-right:15%;
}

.row0CV3{
    padding-left:10%;
    padding-right:5%;
}
.blackCV3{
    color:black;
}


.pCV3{
    font-size:80%;
}

.timelineCV3 {
    position: relative;
    padding: 21px 100px 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: 46%;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
;
}




.timeline > li > .timeline-panel {
    width: 70%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    margin-left: 15%;
    padding: 10%;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}




.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: 40%;
    background-color: #999999;
    z-index: 10;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}




.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}


.timeline-title {
    margin-top: 0;
    color: inherit;
}





.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}


.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
    width: 80%;
}


.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}



